<head>
<title>liangchunjian blog</title>
    <meta charset="utf-8"/>
 <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
 
 
 
 
 <link rel="stylesheet" th:href="@{/assets/css/common.css}"/>
<!--  <link rel="stylesheet" th:href="@{/assets/css/style.css}"/> -->





<!--  -->
<script th:src="@{/lib/angular/angular.js}"></script>
<script th:src="@{/lib/angular/angular.min.js}"></script>
<script th:src="@{/lib/angular/angular-route.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>

</head>
